{% extends 'base.html.twig' %}

{% block title %}Gestion des absences
{% endblock %}

{% block body %}
	<h1>Gestion des absences</h1>

	<div class="absence">
		<div class="absenceContenu">
			<table class="table">
				<thead>
					<tr>
						<th>Nom du membre</th>
						<th>Date</th>
						<th>Motif</th>

					</tr>
				</thead>
				<tbody>
					{% for absence in absences %}
						<tr>
							<td>{{ absence.member }}</td>
							<td>{{ absence.date ? absence.date|date('d-m-y') : '' }}</td>
							<td>{{ absence.motif }}</td>

						</tr>
					{% else %}
						<tr>
							<td colspan="4">Pas d'absence</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="absencePic">
		<a href="{{ path('absence_new_admin') }}"><img src="/pictures/new.png"></a>
	</div>
{% endblock %}
