<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('style/navbar.css') }}">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<nav class="topnav">
			<a href="">Home</a>
			<a href="{{ path("news_index") }}">Infos</a>
			<a href="#contact">Contact</a>
			<a href="{{ path("app_login") }}">Login</a>
			<a href='{{ path("app_register") }}'>Inscription</a>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
